html {
    font-size: 65%;
}

.header--title-container .header--button {
    width: 300px;
}

.main-table .currency-table--date, .commission-table--date {
    width: 250px;
    
}

.plans-container--slider{
   /*  display: flex;
    height: 316px;
    overflow-x:scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    margin-right: 10px;
    margin-left: 0px; */
    overflow-x: hidden;
}